body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 .slick-dots li.slick-active button:before{
  width: 30px;
  background: #000; 
  height: 7px;
  border-radius: 5px;
  content: "";
  top: 30%;
 }

 .slick-dots{
   bottom: -20px;
 }

 